html {
height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: auto;

}
#MapNavContainer {
  padding: 0rem;
}

#MapNaveContainer2 > div {
  padding: 0rem;
}
#MapSideBar {
  padding: 0rem;
  
}
#MapSideBar > span > ul {
  background-color: #263238;
  padding: 0rem;
  
}
.wrapper {
  padding-left: 300px;
}
/* #gameIcon {
  padding: 0px;
} */

.card .card-content {
  padding: 0px;
}

#cardCol {
  margin: 0px;
  padding: 0px;
  background-color: gray;
}

#cardCol .card {
  position: relative;
  margin: 0.1rem 0.1rem 0.1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px 2px 2px 2px;
}
#cardCol .card:hover {
  outline: 1px solid white;
  outline: 2px solid orange;
  outline-offset: -2px;
  box-shadow: 0 5px 50px yellow; 
}

#cardCol .card > .card-content{
  transition: .5s ease;
  backface-visibility: hidden;
}
#cardCol .card > .card-content:hover {
  transition: box-shadow 2s;
  opacity: 0.6;
}

#btnImg {
  width: 100%;
  height: 100%;
}


/* MMNav2 */

#MMnav1 {
  height: 100%;
  padding-left: 300px;
}
#MMnav1 > nav {
  background-color: #D20014,
  
}
.row .col {
  min-height: 0px;
}
nav {
  background-color: #D20014;
}

#MMnav2 {
  margin-top: 60px;
}

#MMRow { 
  margin-bottom: 0px
}

#MMright > nav {
  background: #D20014;
  color: white;
}

#MMright {
  height: 100%;

}

#MMCollasible {
  color: white;
}

#loginBar {
  width: auto;
  height: 64px;
  background-color: #D20014;
}

#underMap {
  width: auto;
  height: 55px;
  background-color: #D20014;
}
#aboveMap {
  width: auto;
  height: 55px;
  background-color: #D20014;
}

#MMnavbar {
  box-shadow: 0px 10px #888888;
}

#MMCollasible1 > .collapsible-body{
  padding: 0rem;
 
}

#MMTabs {
  padding: 0rem;
  /* position: static; */
}




/* /////////    Form Styling    ///////// */

/* SIGNUP */

#SUPCard {
  width: 40vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#SUPContent {
  margin-top: 60px;
}

#SUPContainer > div {
  padding: 30px 10px 30px 10px;
  
}

#SUPCard > .card-action {
  display: flex;
  align-content: center;
}

.card.large .card-action {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
#SUPSubmit {
  display: flex;
  margin-left: auto;
  align-content: center;
  margin-right: auto;
}



.dropdown-content {
  overflow-y: scroll;
  max-height: 200px;

}
/* LOGIN */



#LOGCard {
  width: 60vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

#LOGContainer {
  margin-top: 60px;
}

#LOGContainer > div {
  padding: 30px 10px 30px 10px;
  

}

LOGCard > .card-action {
  display: flex;
  align-content: center;
}

.card.large .card-action {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
#LOGSubmit {
  display: flex;
  margin-left: auto;
  align-content: center;
  margin-right: auto;
}

#myFooter {
  background-color: #00c3e3;
}



/* POST EVENT */


/* SEARCH BAR  */
